*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --color-primario: #1E90FF;
    --color-secundario: #FF6347;
    --color-fondo: #F5F5F5;
    --color-texto: #333333;
    --color-tituloPrincipal: #565656;
    --color-textos-hover: #FF6347;
    --tamaño--titulo:5rem;
    --tamaño--subtitulo:1.5rem;
    --tamaño-texto-nav:25px;
}

body{
    font-family: 'Arial', sans-serif;
    
}


/*estilos header*/

.header{
    background: url(../img/FONDO.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-texto);

}


.contenedor-nav{
    position:fixed;
    top:0;
    left:0;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.612);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:50px;
}

.contenedor-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}

.contenedor-logo img{
    width: 100px;
    height: 100px;
}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 20px;

}


.nav-header a{
    text-decoration: none;
    font-size:var(--tamaño-texto-nav);
    color: var(--color-texto);

}

.nav-header a:hover{
    
    color: var(--color-textos-hover);
}

.textos-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.textos-header h1{
    font-size: var(--tamaño--titulo);
    
}

.textos-header a{
    background-color: rgba(255, 255, 255, 0.814);
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--color-texto);
    font-size: var(--tamaño-texto-nav);
   
}

.textos-header a:hover{
    background-color: rgb(150, 222, 246)
    
}


/*secciones intermedias para organizar*/
.contenedor{
    height: 100vh;
    background-color: var(--color-secundario);
    margin: 10px;
}




/* media queries */

@media(max-width:766px) {
    /* reglas */
}